{{!-- user's picnic events overview --}}
<section class="my-picnics">
    {{log picnics}}
    {{#each picnics}}
    <div class="picnic-id card mb-3 col-3" id="{{id}}">
      <img src="/assets/images/picnic cards (vertical)/{{verticalPhoto}}" class="card-img-top img-fluid picnic-card-img" alt="picnic imagery">
      <div class="card-body">
        <h5 class="event-name card-title">{{event_name}}</h5>
        <p class="start-time card-text">On {{format_time start_time}}</p>
        <p class="address card-text"><small>{{address}}</small></p>
      </div>
    </div>
    {{/each}}
</section>
{{!-- user's embedded Google calendar events --}}
<section>
  <div class="my-calendar">
    {{!-- data inside this DIV --}}
  </div>
</section>